h1 {
    text-align: center;
}

input {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #A7A37E;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ButtonCadastro {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #A7A37E;
    text-decoration: none;
}

.ButtonCadastro:hover {
    text-decoration: underline;
}