h1 {
    text-align: center;
}

input {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ButtonLogin {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #4caf50;
    text-decoration: none;
}

.ButtonLogin:hover {
    text-decoration: underline;
}