* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    width: 100vw;
    height: 100vh;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
}

.conteinerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bookInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 750px;
}

.cardBookInfo {
    background-color: #f0edd4;
    border-radius: 30px;
    height: 100%;
    width: 18%;
    margin-top: 3%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.tituloLivro {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    width: 100%;
}

.imgbook {
    border-radius: 25px;
    width: 50%;
}

.autores {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.desc {
    width: 100%;
    margin: 3% 5% 0% -15%;
    margin-top: 150px;
    font-size: 25px;
    font-weight: bold;
}

.descricao {
    width: 100%;
    margin: 3% 5% 0% -15%;
    margin-top: 60px;
    font-size: 18px;
}

.linkBook{
    margin: 3% 5% 0% -15%;
    font-size: 16px;
    font-weight: 500;
}